[maxscale]
threads=auto
log_warning=1
#log_info=1
#log_notice=1
# for GCP MIG/LB health check
admin_host=0.0.0.0
admin_auth=false

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3
user=maxuser
password=maxpwd
replication_user=repl
replication_password=replpwd
auto_failover=True
auto_rejoin=True

[Splitter-Service]
type=service
router=readwritesplit
servers=server1,server2,server3
user=maxuser
password=maxpwd

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=mariadbclient
port=3306
#################################
[server1]
type=server
address=server1
port=3306
protocol=mariadbbackend

[server2]
type=server
address=server2
port=3306
protocol=mariadbbackend

[server3]
type=server
address=server3
port=3306
protocol=mariadbbackend
